discord-py-interactions
python-dotenv
spotipy
pytz
pandas
python-dotenv
prettytable
Pillow
rdoclient
pymongo
asyncssh
mcstatus
pykuma
notion-client
twitchAPI
babel
isodate
nbtlib==1.12.1
anthropic
beautifulsoup4
openai
aiohttp
pyfactorybridge
python-socketio